NODE_ENV=development
PORT=3000
JWT_SECRET=secret
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=idressiadb
MONGO_URI=mongodb://mongodb:27017/express-rest-es2017-boilerplate
MONGO_URI_TESTS=mongodb://mongodb:27017/express-rest-es2017-boilerplate
